%p#notice= notice
%h1 Cards
%table
  %thead
    %tr
      %th Number
      %th{:colspan => "3"}
  %tbody
    - @cards.each do |card|
      %tr
        %td= card.number
        %td= link_to 'Show', card
        %td= link_to 'Edit', edit_card_path(card)
        %td= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Card', new_card_path
= link_to 'ログイン' , step1_signup_index_path